body{
    font-family: Sans-serif;
    

}

li{
    color: rebeccapurple;
}


.impress{
    text-align: center;
}
 

.impress h5{
    margin-top: 70px;
}
#signup{
    border: 1px solid black;
}

footer{
    text-align: center;
    font-size: 40px;
    margin-top: 300px;
}

button{
    background-color: brown;
    padding: 5px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: wheat;
}