{% extends 'base.html' %}


{% block content%}


<div class="impress">
    <h2>The one-minute pitch</h2>
    <h5>How much time you have to deliver a pitch to investors will have a big <br> impact on how and what you’ll want to do and say. <br>
        If you’re giving five-minute presentation followed by a Q&A, you will <br> approach that a little differently than if you’re giving a one-minute presentation! </BR> 
        So, how do you know what to include in a really short pitch? <br> What about a 20-minute pitch? We’ve got you covered. In this article, I’ll review:</h5>
</div>

<div class="log">
    <button>login</button>
    <button>signup</button>
</div>

<footer>
    <span style="color: rgb(12, 121, 210);"><i class="fa-brands fa-twitter"></i></span>
    <span style="color: blue;"><i class="fa-brands fa-facebook"></i></span>
    <span style="color: rgb(10, 45, 201);"><i class="fa-brands fa-linkedin"></i></span>
    <span style="color: red;"><i class="fa-brands fa-youtube"></i></span>
    <span style="color: green;"><i class="fa-solid fa-phone"></i></span>
</footer>


{%endblock%}



