

<nav  class="navbar navbar-expand-lg text-right bg-light py-3 bg-dark">
    <div class="container">
      <h6><span style="color: white; margin-left: -80px; font-size: 30px;">one-minute pitch</span></h6>
      <div class="style2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
            <a class="" href="{{url_for('main.index')}}">home</a>
            <a href="{{url_for('main.login')}}">login</a>
            <a href="{{url_for('main.signup')}}">signup</a>
            <a href="">about</a>
            <a href="">cotact</a>
            
          </li>
          </ul>
      </div>
    </div>
  </nav>