

<nav  id="nav" class="navbar navbar-expand-lg text-right bg-light py-3 bg-dark">
    <div class="container">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-right">
            <a class="" href="home">home</a>
            <a href="login.html">login</a>
            <a href="home">signup</a>
            <a href="home">about </a>
            <a href="home">contact</a>
            <button class="btn btn-sucess">run</button>
            
          </li>
          </ul>
      </div>
    </div>
  </nav>