

<nav  id="nav" class="navbar navbar-expand-lg text-right bg-light py-3 bg-dark">
    <div class="container">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-right">
            <a class="" href="{{url_for('home')}}">home</a>
            <a href="{{url_for('login')}}">login</a>
            <a href="{{url_for('signup')}}">signup</a>
            <a href="{{url_for('home')}}">about </a>
            <a href="{{url_for('home')}}">contact</a>
            
            
          </li>
          </ul>
      </div>
    </div>
  </nav>